.authInputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
}

.authInputBox > input {
  margin: 30px auto;
  width: 300px;
  height: 50px;
}

.authInputBox > input[type="email"],
.authInputBox > input[type="password"] {
  border: none;
  border-bottom: 1px solid lightgray;
  background-color: transparent;
  font-size: 18px;
}
.authInputBox > input[type="email"]:focus,
.authInputBox > input[type="password"]:focus {
  border-color: #0982f0;
  outline: none;
}

.authInputBox > input[type="submit"] {
  border-radius: 30px;
  background-color: lightblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.authInputBox > input[type="submit"]:hover {
  background-color: rgb(65, 200, 245);
}
