.authSwitchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 17%;
}

.authSwitchContainer > span + span {
  margin-left: 10px;
}

.authQuestion {
  color: red;
}

.authSwitch {
  cursor: pointer;
}

.authSwitch:hover {
  color: blue;
}
