.homeContainer {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/default.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.2s ease-in-out;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
}

.weatherSky {
  background-image: url(../../images/sky.jpg);
}

.weatherRain {
  background-image: url(../../images/rain.jpg);
}

.weatherClouds {
  background-image: url(../../images/clouds.jpg);
}

.weatherSnow {
  background-image: url(../../images/snow.jpg);
}

.weatherThunderstorm {
  background-image: url(../../images/thunderstorm.jpg);
}

.weatherMist {
  background-image: url(../../images/mist.jpg);
}

.homeLeft {
  width: 35%;
  height: 100%;
  border: 1px solid red;
}

.homeRight {
  width: 65%;
  height: 100%;
  border: 1px solid red;
}
